body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    
    .navbar-brand h3 {
        font-weight: 300;
    }

    .nav-item {
        font-size: 1.2rem;
    }

    // .nav-link:hover {
    //     color: red;
    // }
}

#history {
    img{
        max-width: 70%;
    }
}

#about {
    background: url(../images/main.jpg) bottom center/ cover no-repeat;
    min-height: 750px;
    position: relative;

    #overlay {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .aboutZ {
        z-index: 2;
    }
}

#navbarmenu{
    background-color: #ebe9f1;
}

#price {
    background-color: #ebe9f1;
}

// #contact {
//     background-color: #ebe9f1;
// }